/* ----------------------------------------------- */
/*                  Basic Setup                    */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif, Arial;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #34495e;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* ----------------------------------------------- */
/*               Reusable Component                */
/* ----------------------------------------------- */

.group {
  max-width: 1140px;
  margin: 0 auto;
}

.box {
  margin-top: 3%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
  text-align: center;
  padding: 20px;
}

/* ICON */
.icon {
  font-size: 200%;
  display: block;
  margin-bottom: 10px;
  color: #e67e22;
  width: auto;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  word-spacing: 4px;
}

h1 {
  font-size: 240%;
  margin: 0;
  color: white;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  text-align: center;
  color: #34495e;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: "";
  width: 100px;
  margin: 0px auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

h3 {
  font-weight: 700;
  font-size: 90%;
  color: #2c3e50;
  text-align: center;
}

/* ----------------------------------------------- */
/*                  Header Style                   */
/* ----------------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(/resources/css/img/headerBG.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----------------------------------------------- */
/*                  Button Style                   */
/* ----------------------------------------------- */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  color: white;
  text-align: center;
  border-radius: 200px;
  margin-top: 20px;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  margin-right: 20px;
  border: solid 1px #e67e22;
  transition: all, 0.3s;
}

.btn-full:hover {
  background-color: #cf6d17;
  border: solid 1px #cf6d17;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: white;
  border: solid 1px #27ae60;
  transition: all, 0.3s;
}

.btn-ghost:hover {
  background-color: #27ae60;
  border: solid 1px #27ae60;
}

/* ----------------------------------------------- */
/*                Navigation Style                 */
/* ----------------------------------------------- */

/* LOGO */
.logo {
  cursor: pointer;
  height: 80px;
  width: auto;
  float: left;
  margin-top: 25px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 90%;
  padding: 8px 0px;
  border-bottom: solid 2px transparent;
  transition: all 0.2s;
}

.main-nav li a:hover {
  border-bottom: solid 2px #e67e22;
  padding: 8px 0px;
}

/* ----------------------------------------------- */
/*                   Section One                   */
/* ----------------------------------------------- */
section {
  padding: 80px 0px;
}

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  margin-bottom: 20px;
}

/* ----------------------------------------------- */
/*                   Section Tow                   */
/* ----------------------------------------------- */

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: all, 0.5s;
}

.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* ----------------------------------------------- */
/*                   Meals Section                 */
/* ----------------------------------------------- */

.section-steps {
  background-color: #f4f5f6;
}

.step-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.step-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.work-steps {
  margin-bottom: 50px;
}

.work-steps:last-of-type {
  margin-bottom: 90px;
}

.work-steps div {
  cursor: context-menu;
  color: black;
  border: 1px solid #e67e22;
  display: block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 12px;
  font-weight: 700;
  float: left;
  margin-right: 25px;
  transition: all 0.2s;
}

.work-steps div:hover {
  transform: rotate(-360deg);
  border: 1px solid #e67e22;
  background-color: #e67e22;
  color: white;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ----------------------------------------------- */
/*                   Cities Section                */
/* ----------------------------------------------- */

.section-cities {
  background-color: #fff;
}

.city_name {
  text-align: left;
  font-weight: 300;
  margin-bottom: 15px;
}

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 10px;
}

.icon-city {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 100%;

  /* Algin font with icon */
  line-height: 100%;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 10px;
}

.city-feature a:link,
.city-feature a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #e67e22;
  transition: all, 0.2s;
}

.city-feature a:hover {
  color: #34495e;
  border-bottom: 2px solid transparent;
}

/* ----------------------------------------------- */
/*                   Cities Section                */
/* ----------------------------------------------- */

.section-customer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)),
    url("/resources/image/customer-back.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}

.section-customer h2 {
  color: #fff;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote::before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  font-style: normal;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  width: auto;
  margin-right: 10px;
  vertical-align: middle;
}

/* ----------------------------------------------- */
/*                    Plan Section                 */
/* ----------------------------------------------- */

.section-plans {
  background-color: #f4f5f6;
}

.plan-box {
  background-color: white;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0px 5px 15px #cbcbcc;
}

.plan-box h3 {
  margin-bottom: 15px;
  text-align: left;
}

.plan-box div {
  padding: 15px;
  border-bottom: #eeeeef solid 1px;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  color: #e67e22;
}

.plan-price span {
  font-size: 40%;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 7px 0px;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.btn-plan {
  background-color: #e67e22;
  margin-bottom: 15px;
  transition: all 0.2s;
}

.btn-plan:hover {
  background-color: #27ae60;
}
